.root {
    transform: translateX(100vw);
    transition: .2s ease;
}

.title {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}

.active {
    transform: translateX(0vw);
}

.deleting {
    transform: translateX(-100vw);
}

.confirming {
    opacity: 0;
}

.indicator {
    width: 10px;
    height: auto;
    margin: 10px 15px 0 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.indicatorToday {
    background: darkred;
}

.indicatorTomorrow {
    background: lightcoral;
}

.indicatorAfterTomorrow {
    background: green;
}

.indicatorManyDays {
    background: gray;
}

.indicatorExpired {
    background: red;
}

.datetimeExpired {
    color: red;
}

.icon {
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s ease;
}

.icon:hover {
    transform: scale(1.06);
}

.icons {
    display: flex;
}

.datetime {
    font-size: 21px;
}

.task {
    padding: 10px 10px 15px 0;
    display: flex;
    width: 100%;
    background: #cccccc;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subtasks {
}
